{% extends getPartial('page-design') %}

{% block PageBody %}

    {% set shopBuilderTemplate = shop_builder_category_template(category.id) %}
    {% if shopBuilderTemplate | trim is not empty %}
        <div class="container-max">
            <div class="row">
                <div class="col">
                    {{ shopBuilderTemplate | raw }}
                </div>
            </div>
        </div>
    {% else %}
      <div class="category_template"></div>
        <div style="display: none">{{ category.id }}</div>
        <div style="display: none">{{ lang }}</div>
        <div style="display: none">{{ webstoreConfig.webstoreId }}</div>
        <div style="display: none">{{ category | raw }}</div>
        <div style="display: none">{{ category | json_encode }}</div>
        {% set categoryTemplate %}
            {% include category_template(category.id, lang, webstoreConfig.webstoreId) ignore missing %}
        {% endset %}
        {% if categoryTemplate | trim is not empty %}
          {% include category_template( category.id, lang, webstoreConfig.webstoreId ) ignore missing %}
        {% else %}
          <div style="display: none">Category Description</div>
          {{ category.details[0].description | raw }}
        {% endif %}

    {% endif %}

{% endblock %}


{% block PartialHead %}
    {% set canonicalUrl = services.url.getCanonicalURL(null, true) %}
    {% if currentPage - 1 > 0 %}
        <link rel="prev" href="{{ canonicalUrl ~ queryString({'page': currentPage - 1}) }}" />
    {% endif %}

    {% if currentPage + 1 <= pageMax %}
        <link rel="next" href="{{ canonicalUrl ~ queryString({'page': currentPage + 1}) }}" />
    {% endif %}

    {% if category is null %}
        {% if '&' in queryString() %}
            {% set robotsValue = 'NOINDEX' %}
        {% else %}
             {% set robotsValue = ceresConfig.meta.robotsSearchResult %}
        {% endif %}

      {% embed getPartial('page-metadata') %}
              {% block title      trans("Ceres::Template.itemSearchResults") ~ " " ~ searchString %}
              {% block robots     robotsValue %}
      {% endembed %}
    {% else %}
      {% embed getPartial('page-metadata') %}
      {% endembed %}
    {% endif %}
{% endblock %}
