{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{{ component( "Ceres::ItemList.Components.ItemLazyImg" ) }}
{{ component( "Ceres::Components.common.LazyImg" ) }}

{% set topButtonPosition = config('Ceres.footer.to_top_button') %}
{% set lang = services.sessionStorage.getLang() %}

{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}
    <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %}">
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="preFooter col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="container_centered">
        <div class="preFooterLogo_Container">
          <img class="preFooterLogo" src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/etc-logo_dunkel.png">
        </div>
        <div class="preFooterSocial_Container">
          <div class="preFooter_SocialMedia_Text">Folgt uns auf</div>
          <img class="preFooter_Facebook" src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/facebook.png">
          <img class="preFooter_Insta" src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/instagram.png">
        </div>
        <div class="preFooterTS_Container">
          <img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/TrustedShopsLogo.png">
        </div>
        <div class="preFooterLang_Container">
          <div class="preFooter_LangText">DE</div>
          <img class="preFooter_LangDE" src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/flagge_DE.png">
          <img class="preFooter_LangEN" src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/flagge_UK_dark.png">
          <img class="preFooter_LangFR" src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/flagge_FR_dark.png">
        </div>
      </div>
    </div>
    <div class="footerETC col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {% set zahlung = services.category.get(725, lang) %}
      {% set faq = services.category.get(714, lang) %}
      {% set versand = services.category.get(722, lang) %}
      {% set team = services.category.get(720, lang) %}
      {% set kontakt = services.category.get(724, lang) %}
      {% set karriere = services.category.get(1058, lang) %}
      {% set cat1 = services.category.get(718, lang) %}
      <div class="container_centered">
        <div class="footer1 footerBox">
          <h2>{{ trans("ETCeres::Template.ETC_Informationen") }}</h2>
          {% if webstoreConfig.webstoreId == 4 %}
              {% if lang == "en" %}
                  <a href="http://s141963554.online.de/retoure/MeineLampe/retoure_en.php" target="_blank" title="Retourenportal" rel="noopener">{{ trans("ETCeres::Template.ETC_Retourenportal") }}</a><br>
              {% elseif lang == "fr" %}
                  <a href="http://s141963554.online.de/retoure/MeineLampe/retoure_fr.php" target="_blank" title="Retourenportal" rel="noopener">{{ trans("ETCeres::Template.ETC_Retourenportal") }}</a><br>
              {% else %}
                  <a href="http://s141963554.online.de/retoure/MeineLampe/retoure.php" target="_blank" title="Retourenportal" rel="noopener">{{ trans("ETCeres::Template.ETC_Retourenportal") }}</a><br>
              {% endif %}
          {% else %}
              {% if lang == "en" %}
                  <a href="http://s141963554.online.de/retoure/voll/retoure_en.php" target="_blank" title="Retourenportal" rel="noopener">{{ trans("ETCeres::Template.ETC_Retourenportal") }}</a><br>
              {% elseif lang == "fr" %}
                  <a href="http://s141963554.online.de/retoure/voll/retoure_fr.php" target="_blank" title="Retourenportal" rel="noopener">{{ trans("ETCeres::Template.ETC_Retourenportal") }}</a><br>
              {% else %}
                  <a href="http://s141963554.online.de/retoure/voll/retoure.php" target="_blank" title="Retourenportal" rel="noopener">{{ trans("ETCeres::Template.ETC_Retourenportal") }}</a><br>
              {% endif %}
          {% endif %}
          <a href="{{ services.category.getURL(kontakt, lang) }}">{{ trans("ETCeres::Template.ETC_Kontakt") }}</a><br>
          <a href="{{ services.category.getURL(zahlung, lang) }}">{{ services.category.get(725, lang).details[0].name }}</a><br>
          <a href="{{ services.category.getURL(team, lang) }}">{{ services.category.get(720, lang).details[0].name }}</a><br>
          <a href="{{ services.category.getURL(karriere, lang) }}">{{ services.category.get(1058, lang).details[0].name }}</a><br>
          <br>
          <a href="{{ urls.gtc }}">{{ trans("ETCeres::Template.footerGtc") }}</a><br>
          <a href="{{ urls.cancellationRights }}">{{ trans("ETCeres::Template.footerCancellationRight") }}</a><br>
          <a href="{{ urls.privacyPolicy }}">{{ trans("ETCeres::Template.footerPrivacyPolicy") }}</a><br>
          <a href="{{ urls.legalDisclosure }}">{{ trans("ETCeres::Template.footerLegalDisclosure") }}</a><br>
          <a href="{{ services.category.getURL(cat1, lang) }}">{{ services.category.get(718, lang).details[0].name }}</a><br>
        </div>
        <div class="footer2 footerBox">
          <div class="footer21 footerSubBox">
            <h2>{{ trans("ETCeres::Template.ETC_Beratung") }}</h2>
            <b>{{ trans("ETCeres::Template.ETC_Telefonnummer") }}</b><br>
            {{ trans("ETCeres::Template.ETC_MoBisDo") }} {{ trans("ETCeres::Template.ETC_8Bis17") }}<br>
            {{ trans("ETCeres::Template.ETC_Freitag") }} {{ trans("ETCeres::Template.ETC_8Bis14") }}
          </div>
          <div class="footer22 footerSubBox">
            <h2>{{ trans("ETCeres::Template.ETC_PartnerLabel") }}</h2>
              <div class="footer22Box_left">{{ trans("ETCeres::Template.ML_Footer_MeineLampe") }}</div>
              <div class="footer22Box_right"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/meinelampe_logo_hell.png"></div>
          </div>
        </div>
        <div class="footer3 footerBox">
          <div class="footer31 footerSubBox">
            <h2>{{ trans("ETCeres::Template.ETC_Newsletter") }}</h2>
            <div class="footerNewsletterBox">
              <div class="footer31Box_left">5&euro;</div>
              <div class="footer31Box_right">
                {{ trans("ETCeres::Template.ETC_Newsletter_Text5") }}
              </div>
            </div>
          </div>
          <div class="footer32 footerSubBox">
            <h2>{{ trans("ETCeres::Template.ETC_Sicherheit") }}</h2>
              <div class="footer32Box_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/TrustedShopsLogo.png"></div>
              <div class="footer32Box_right">
                {{ trans("ETCeres::Template.ETC_ZertifiiertUndKaeuferschutz") }}<br>
                {{ trans("ETCeres::Template.ETC_VonTrustedShops") }}
              </div>
          </div>
        </div>
        <div class="footer4 footerBox">
          <h2>{{ trans("ETCeres::Template.ETC_Zahlungsarten") }}</h2>
          <a href="{{ services.category.getURL(zahlung, lang) }}">
            <div class="footer4Box1_left footerBox_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_paypal.png"></div>
            <div class="footer4Box1_right footerBox_right">{{ trans("ETCeres::Template.ETC_Payment_Paypal") }}</div>
          </a>

          <a href="{{ services.category.getURL(zahlung, lang) }}">
            <div class="footer4Box2_left footerBox_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_lastschrift.png"></div>
            <div class="footer4Box2_right footerBox_right">{{ trans("ETCeres::Template.ETC_Payment_Lastschrift") }}</div>
          </a>

          <a href="{{ services.category.getURL(zahlung, lang) }}">
            <div class="footer4Box3_left footerBox_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_kreditkarte.png"></div>
            <div class="footer4Box3_right footerBox_right">{{ trans("ETCeres::Template.ETC_Payment_Kreditkarte") }}</div>
          </a>

          <a href="{{ services.category.getURL(zahlung, lang) }}">
            <div class="footer4Box4_left footerBox_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_rechnung.png"></div>
            <div class="footer4Box4_right footerBox_right">{{ trans("ETCeres::Template.ETC_Payment_Rechnung") }}</div>
          </a>

          <a href="{{ services.category.getURL(zahlung, lang) }}">
            <div class="footer4Box5_left footerBox_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_amazon-pay.png"></div>
            <div class="footer4Box5_right footerBox_right">{{ trans("ETCeres::Template.ETC_Payment_AmazonPay") }}</div>
          </a>

          <a href="{{ services.category.getURL(zahlung, lang) }}">
            <div class="footer4Box6_left footerBox_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_barzahlung.png"></div>
            <div class="footer4Box6_right footerBox_right">{{ trans("ETCeres::Template.ETC_Payment_Bar") }}</div>
          </a>

          <a href="{{ services.category.getURL(zahlung, lang) }}">
            <div class="footer4Box7_left footerBox_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_sofort.png"></div>
            <div class="footer4Box7_right footerBox_right">{{ trans("ETCeres::Template.ETC_Payment_Sofort") }}</div>
          </a>

          <a href="{{ services.category.getURL(zahlung, lang) }}">
            <div class="footer4Box8_left footerBox_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_ueberweisung.png"></div>
            <div class="footer4Box8_right footerBox_right">{{ trans("ETCeres::Template.ETC_Payment_Ueberweisung") }}</div>
          </a>

          <a href="{{ services.category.getURL(zahlung, lang) }}">
            <div class="footer4Box9_left footerBox_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_easycredit.png"></div>
            <div class="footer4Box9_right footerBox_right">{{ trans("ETCeres::Template.ETC_Payment_EasyCredit") }}</div>
          </a>

        </div>
        <div class="footer5 footerBox">
          <div class="footer51 footerSubBox">
            <h2>{{ trans("ETCeres::Template.loginMyAccount") }}</h2>
            <a href="{{ urls.myAccount }}">{{ trans("ETCeres::Template.ETC_LoginLabel") }}</a><br>
            <a href="{{ urls.myAccount }}">{{ trans("ETCeres::Template.loginRegister") }}</a><br>
            <a href="{{ urls.basket }}">{{ trans("ETCeres::Template.singleItemBasket") }}</a><br>
            <a href="{{ urls.myAccount }}">{{ trans("ETCeres::Template.singleItemWishList") }}</a><br>
          </div>
          <div class="footer52 footerSubBox">
            <h2>{{ trans("ETCeres::Template.ETC_Bewertungen") }}</h2>
            <script2 src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script2>
            <script2>
              window.renderBadge = function() {
                var ratingBadgeContainer = document.createElement("div");
                document.body.appendChild(ratingBadgeContainer);
                window.gapi.load('ratingbadge', function() {
                  window.gapi.ratingbadge.render(ratingBadgeContainer, {"merchant_id": 1340904});
                });
              }
            </script2>
          </div>
        </div>
        <div id="copyright" class="col-lg-12">
          <div class="container_centered">
            {{ trans("ETCeres::Template.ETC_Copyright") | raw }}
          </div>
        </div>
      </div>
    </div>
