{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "Ceres::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "ETCeres::PageDesign.Components.MobileNavigation" ) }}
{{ component( "Ceres::ItemList.Components.ItemSearch" ) }}
{{ component( "Ceres::WishList.Components.WishListCount" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set activeCurrencies = config("Ceres.currency.available_currencies") | split(', ') %}
{% set enableCurrencySelect = config("Ceres.currency.enable_selection") == "true" and activeCurrencies | length > 0 %}
{% set currencyFormat = config("Ceres.currency.format") %}
{% set currencyFormatSelect = config("Ceres.currency.format_selection") %}

{% set headerContainer = LayoutContainer.show("Ceres::Header") | trim %}

{% set requestUrl = webstoreConfig.domainSsl ~ request.getRequestUri() %}
{% if ('/login' in requestUrl) %}
    {% set showMainMenu = false %}
    {% set Test = 'login gefunden' %}
{% else %}
    {% set showMainMenu = true %}
    {% set Test = 'kein login gefunden' %}
{% endif %}

<header class="header">
  <span style="display: none;" itemscope="" itemtype="http://data-vocabulary.org/Organization">
      <span itemprop="url">http://www.etc-shop.de</span>
      <span itemprop="logo"><img src="https://www.etc-shop.de/layout/content/base/etc_logo.png"></span>
      <span itemscope="" itemtype="http://data-vocabulary.org/ContactPoint">
          <span itemprop="telephone">+49 (0) 2692 933838 0</span>
          <span itemprop="contactType">customer service</span>
      </span>
  </span>
  <div class="container_centered">
    <div id="headerLogo">
      <img src="http://www.etc-shop.de/layout/content/base/logo/etc_logo_klein.png" id="MainLogo">
    </div>
    <div id="headerSearch">
      {% set overrideSearchBar = LayoutContainer.show("Ceres::Search.SearchBar") %}
      {% if overrideSearchBar | trim is empty %}
          <form action="/" style="padding:0px;margin:0px;" name="search_form" class="search_form" method="get">
            <input type="hidden" name="ActionCall" value="WebActionArticleSearch">
            <input type="hidden" name="BranchId" value="0">
            <input id="multishop_id" type="hidden" name="multishop_id" value="0">
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
            <input type="text" class="textinput hidden-xs ui-autocomplete-input" value="{{ trans("ETCeres::Template.ETC_Suche") }}" onFocus="if(this.value=='{{ trans("ETCeres::Template.ETC_Suche") }}'){this.value=''}" onBlur="if(this.value==''){this.value='{{ trans("ETCeres::Template.ETC_Suche") }}'}" id="flAutocompleteInputTextTEST0839" name="Params[SearchParam]" autocomplete="off">
            <input type="submit" class="submitinput LiveSearch" value="{{ trans("ETCeres::Template.ETC_Los") }}">
          </form>
      {% else %}
          {{ overrideSearchBar | raw }}
      {% endif %}
    </div>
    <div id="headerSupport" class="toolInfo">
      <i id="headerSupportIcon" class="fa fa-volume-control-phone" aria-hidden="true"></i>
      <span id="headerSupportText">Pers&ouml;nliche Beratung +49 (0) 2692 9338380</span>
    </div>
    <div id="headerShipping" class="toolInfo">
      <i id="headerShippingIcon" class="fa fa-truck" aria-hidden="true"></i>
      <span id="headerShippingText">Kostenlose Lieferung ab 100 EUR</span>
    </div>
    <div id="headerToolButtons">
      <div id="headerLanguage" class="toolButton">
          <span id="headerLanguageText">{{ lang }}</span> <img src="https://www.etc-shop.de/layout/content/base/flag_small/flag_small_{{ lang }}_active.png" ID="headerLanguageFlag">
      </div>
      <div id="headerAccount" class="toolButton">
        <a {% if services.template.isCurrentTemplate("tpl.login") %} href="javascript:void(0)"{% else %} data-toggle="modal" href="#login"{% endif %} @click="unmarkInputFields()">
          <span id="headerAccountText">{{ trans("ETCeres::Template.ETC_Konto") }}</span>
          <i id="headerBasketIcon" aria-hidden="true" class="fa fa-user"></i>
        </a>
      </div>
      <div id="headerBasket" class="toolButton">
        <a v-toggle-basket-preview href="#" class="toggle-basket-preview">
            <span id="headerBasketText">{{ trans("ETCeres::Template.ETC_Warenkorb") }}</span>
            <i id="headerBasketIcon" aria-hidden="true" class="fa fa-shopping-cart basketEmpty" v-if="$store.state.basket.data.itemQuantity==0"></i>
            <i id="headerBasketIcon" aria-hidden="true" class="fa fa-shopping-cart basketFull" v-else></i>
        </a>
      </div>
    </div>
  </div>
  <div id="secHeader">
    <div id="secSubHeader">
      <div class="container_centered">
        <div class="secSubHeader secSubHeader_Navigation">
          <button id="btnMainMenuToggler" v-open-mobile-navigation class="navbar-toggler d-lg-none" type="button">
            <div class="navbar-toggler-hamburgerpatty"></div>
            <div class="navbar-toggler-hamburgerpatty"></div>
            <div class="navbar-toggler-hamburgerpatty"></div>
          </button>
          <span id="secSubHeader_NavigationText">PRODUKTE</span>
          <div class="secSubHeaderBreadCrumbs d-lg-none">
            {% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout() %}
                {% include "Ceres::PageDesign.Partials.Header.Breadcrumb" %}
            {% endif %}
          </div>
        </div>
        <div class="secSubHeader secSubHeader_Special"><a href="#">WANNENLEUCHTEN</a></div>
        <div class="secSubHeader secSubHeader_Special"><a href="#">VENTILATOREN</a></div>
        <div class="secSubHeader secSubHeader_Special"><a href="#">LED LEUCHTMITTEL</a></div>
        <div class="secSubHeader secSubHeader_Special"><a href="#">GARTENBELEUCHTUNG</a></div>
        <div class="secSubHeader secSubHeader_Special"><a href="#">SMART-LED</a></div>
        <div class="secSubHeader secSubHeader_Special"><a href="#">KUGELLEUCHTEN</a></div>
        <div class="secSubHeader secSubHeader_Special"><a href="#">DEKOLEUCHTEN</a></div>
        <div class="secSubHeader secSubHeader_Special"><a href="#">TOP SELLER</a></div>
      </div>
    </div>
  </div>
</header>


{% if showMainMenu == true %}
  <div class="navigation">
    {% include "ETCeres::PageDesign.Partials.Header.Navigation" %}
    {% if category.linklist == "Y" %}
        {% set initialCategory = { id: category.id } %}
    {% else %}
        {% set initialCategory = category %}
    {% endif %}

    {# set the initialCategory to the default category of the current item #}
    {% if services.template.isCurrentTemplate("tpl.item") and defaultCategory is not null %}
        {% set initialCategory = defaultCategory %}
    {% elseif services.template.isCurrentTemplate('tpl.home.category') %}
        {% set initialCategory = null %}
    {% endif %}

    <mobile-navigation :initial-category="{{ initialCategory | json_encode }}" :include-language="{{ urls.includeLanguage | json_encode }}" :breakpoints="['xs', 'sm', 'md', 'lg', 'xl']">
      <div id="TEST"></div>
    </mobile-navigation>
  </div>
{% endif %}
